.artist_info_div {
  display: flex;
  align-items: center;
  margin: 20px 0 40px 0;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .selected_artist_img {
    width: 200px;
    border-radius: 15px;
    margin-right: 2.5rem;
  }
  .selected_artist_name {
    margin-bottom: 5px;
  }
  .selected_artists_genres {
    margin-bottom: 30px;
  }
}
