.tracks_list_div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.individual_track_in_list {
  margin: 15px 30px;
  margin-left: 0;
  padding: 15px 10px 30px 10px;
  background-color: #686d76;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  .track_img {
    width: 90px;
  }
  &:hover {
    background-color: rgba(104, 109, 118, 0.8);
    transform: scale(1.1);
  }
}
