.artists_list_div {
  display: flex;
  flex-wrap: wrap;
}

.individual_artist_in_list {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.artist_img {
  width: 120px;
  height: 120px;
  margin-right: 2.5rem;
  border-radius: 50%;
  object-fit: contain;
}
