.selected_track_details_div {
  display: flex;
  align-items: center;
  padding: 30px;
  margin-right: 20px;
  min-width: 680px;
  background-color: rgba(104, 109, 118, 0.8);
  border-radius: 5px;
}

.track_img_div {
  display: flex;
  align-items: center;
  .selected_track_img {
    width: 10rem;
  }
}

.selected_track_name_and_artist {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  .selected_track_name {
    margin-bottom: 30px;
  }
}
